
#card-link{
    text-decoration: none !important;
    color: black;
}

#card-link:hover{
    color: black;
}

.card_zoom {
    transition: transform .9s;
  }
  
  .card_zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2); 
  }
.text-style{
  color:white;
  text-decoration:none
}
