.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container{
  display: flex;
  justify-content: space-around; 
  margin: 80px 0px 50px 0px;
}

.card_style{
  width: 40rem; 
  margin: 0px 20px 0px 20px;
}

.contact_title{
  font-size: 32px !important;
}
.contact_content{
  font-size: 18px;
  display: flex !important;
}
.submit_button{
  font-size: 18px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
